<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "application", media: "all",
                          "dataturbolinkstrack" => true %>
  <%= javascript_include_tag "application", "dataturbolinkstrack" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<div id="session">
  <% if user_signed_in? %>
    <%= "your signed in #{current_user.email}" %>
    <%=  link_to "sign_out", destroy_user_session_path,method: :delete %>
  <% else %>
    <%= link_to "sign in here", new_user_session_path %>
  <%end%>
</div>

<div id="banner">
  <%= image_tag("logo.png") %>
  <%= @page_title || "Pragmatic Bookshelf" %>
</div>
<div id="columns">
  <div id="side">
    <ul>
      <li><a href="http://www....">Home</a></li>
      <li><a href="http://www..../faq">Questions</a></li>
      <li><a href="http://www..../news">News</a></li>
      <li><a href="http://www..../contact">Contact</a></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>